s -lovelace## Ignore all
*
**

## Allow folders
# !*/
!/automation2/
!/automation2/*.yaml
!/automationDev/
!/automationDev/*.yaml
!/blueprints/
!/blueprints/**
!/blueprints/*.yaml
!/light/
!/light/*.yaml
!/mqtt/
!/mqtt/**
!/mqtt/*.yaml
!/packages/
!/packages/*.yaml
!/python_scripts/
!/python_scripts/*.py
!/script2/
!/script2/*.yaml
!/switch2/
!/switch2/*.yaml
!/sensor2/
!/sensor2/*.yaml
!/scriptshell/
!/scriptshell/blueprints_update.sh
!/scripts/
!/scripts/*.yaml
!/templates/
!/templates/**
!/templates/*.yaml
!/zigbee2mqtt/
!/zigbee2mqtt/*.js
!/.storage/
!/.storage/broadlink_remote_*_codes
!/.storage/image
!/.storage/input_*
!/.storage/lovelace*

## Allow files
!alert.yaml
!automations.yaml
!binary_sensors.yaml
!button.yaml
!climate.yaml
!cloud.yaml
!configuration.yaml
!counter.yaml
!cover.yaml
!customize.yaml
!fan.yaml
!ffmpeg.yaml
!frontend.yaml
!google.yaml
!groups.yaml
!hacs.yaml
!humidifer.yaml
!life360.yaml
!light_profiles.csv
!history.yaml
!homeassistant.yaml
!lock.yaml
!logger.yaml
!media.yaml
!media_player.yaml
!mqtt.yaml
!notify.yaml
!octoprint.yaml
!panel_custom.yaml
!panel_iframe.yaml
!person.yaml
!recorder.yaml
!rest_command.yaml
!ring.yaml
!scene.yaml
!scripts.yaml
!sensors.yaml
!sonoff.yaml
!switch.yaml
!timer.yaml
!tts.yaml
!updater.yaml
!.HA_VERSION
!.gitignore
!.gitkeep
!README.md
!LICENSE

############# Failsafe  \/ \/ \/ \/ \/ #############
remote_cmd.yaml
secrets.yaml
shell_command.yaml
**/test.yaml
home-assistant.log.*
.git-credentials
/zigbee2mqtt/*.json
/zigbee2mqtt/*.yaml
/zigbee2mqtt/.configuration.*

# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
/blueprints/automation/test**
/blueprints/script/test**
/deps**
/image**
/pop.git**
/Purgatory**
/themes**
/www**
/zigbee2mqtt/old**
/zigbee2mqtt/log**
/.storage/auth**
/.storage/cloud**
/.storage/core**
/.storage/hacs**
/.storage/http
*test**

# Ignore files created by IDE's
/.vscode**
/.theia**
/.Trash**
