## Ignore all
*
**

## Allow folders
!/automation2**
!/automationDev**
!/binSensor**
!/blueprints**
!/image**
!/python_scripts**
!/script2**
!/switch2**
!/sensor2**
!/scripts**
!/.storage
!/.storage/broadlink_remote_*_codes
!/.storage/http
!/.storage/image
!/.storage/input_*
!/.storage/lovelace*
!/templates**

## Allow files
!alert.yaml
!automations.yaml
!binary_sensors.yaml
!button.yaml
!camera.yaml
!climate.yaml
!cloud.yaml
!configuration.yaml
!counter.yaml
!cover.yaml
!customize.yaml
!fan.yaml
!ffmpeg.yaml
!frontend.yaml
!google.yaml
!groups.yaml
!hacs.yaml
!humidifer.yaml
!life360.yaml
!light.yaml
!history.yaml
!homeassistant.yaml
!http.yaml
!lock.yaml
!logger.yaml
!media.yaml
!media_player.yaml
!mqtt.yaml
!notify.yaml
!octoprint.yaml
!panel_custom.yaml
!panel_iframe.yaml
!recorder.yaml
!rest_command.yaml
!ring.yaml
!scripts.yaml
!sensors.yaml
!sonoff.yaml
!switch.yaml
!timer.yaml
!tts.yaml
!updater.yaml
!zwave.yaml
!.gitignore
!.HA_VERSION
!README.md
!LICENSE

############# Failsafe  \/ \/ \/ \/ \/ #############
secrets.yaml
shell_command.yaml

# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
deps**
themes**
/.storage/auth*
/.storage/cloud*
/.storage/core*
/.storage/hacs**

# Ignore files created by IDE's
.vscode
.theia
.Trash*
