{% macro avail(entity_list) %}
  {# This expects a list of entities.
      The number of entities are counted.
      The number of entities that are NOT unknown, unavailable, empty, or none are counted.
      If the 2 counts are the same, true is returned, else false, defaults to false.
      REMEMBER!!
      This always returns text, so cast to bool on the other end to be certain of the result.
      SAMPLE USAGE:
      {% from 'availability_template.jinja' import avail %}
      {%- if avail(['sensor.qotd','sensor.qotd.attributes.entries[0]']) | bool -%}
  #}
  {%- if entity_list is iterable -%}
    {{- entity_list | map('states') | reject('in', ['unknown','unavailable','','none'])
     | list | count == entity_list | count -}}
  {%- else -%}
    false 
  {%- endif -%}
{% endmacro %}