{% set _nameMap = {
  '_rgb': [

    "aliceblue": RGBColor(240, 248, 255),
    "antiquewhite": RGBColor(250, 235, 215),
    "aqua": RGBColor(0, 255, 255),
    "aquamarine": RGBColor(127, 255, 212),
    "azure": RGBColor(240, 255, 255),
    "beige": RGBColor(245, 245, 220),
    "bisque": RGBColor(255, 228, 196),
    "black": RGBColor(0, 0, 0),
    "blanchedalmond": RGBColor(255, 235, 205),
    "blue": RGBColor(0, 0, 255),
    "blueviolet": RGBColor(138, 43, 226),
    "brown": RGBColor(165, 42, 42),
    "burlywood": RGBColor(222, 184, 135),
    "cadetblue": RGBColor(95, 158, 160),
    "chartreuse": RGBColor(127, 255, 0),
    "chocolate": RGBColor(210, 105, 30),
    "coral": RGBColor(255, 127, 80),
    "cornflowerblue": RGBColor(100, 149, 237),
    "cornsilk": RGBColor(255, 248, 220),
    "crimson": RGBColor(220, 20, 60),
    "cyan": RGBColor(0, 255, 255),
    "darkblue": RGBColor(0, 0, 139),
    "darkcyan": RGBColor(0, 139, 139),
    "darkgoldenrod": RGBColor(184, 134, 11),
    "darkgray": RGBColor(169, 169, 169),
    "darkgreen": RGBColor(0, 100, 0),
    "darkgrey": RGBColor(169, 169, 169),
    "darkkhaki": RGBColor(189, 183, 107),
    "darkmagenta": RGBColor(139, 0, 139),
    "darkolivegreen": RGBColor(85, 107, 47),
    "darkorange": RGBColor(255, 140, 0),
    "darkorchid": RGBColor(153, 50, 204),
    "darkred": RGBColor(139, 0, 0),
    "darksalmon": RGBColor(233, 150, 122),
    "darkseagreen": RGBColor(143, 188, 143),
    "darkslateblue": RGBColor(72, 61, 139),
    "darkslategray": RGBColor(47, 79, 79),
    "darkslategrey": RGBColor(47, 79, 79),
    "darkturquoise": RGBColor(0, 206, 209),
    "darkviolet": RGBColor(148, 0, 211),
    "deeppink": RGBColor(255, 20, 147),
    "deepskyblue": RGBColor(0, 191, 255),
    "dimgray": RGBColor(105, 105, 105),
    "dimgrey": RGBColor(105, 105, 105),
    "dodgerblue": RGBColor(30, 144, 255),
    "firebrick": RGBColor(178, 34, 34),
    "floralwhite": RGBColor(255, 250, 240),
    "forestgreen": RGBColor(34, 139, 34),
    "fuchsia": RGBColor(255, 0, 255),
    "gainsboro": RGBColor(220, 220, 220),
    "ghostwhite": RGBColor(248, 248, 255),
    "gold": RGBColor(255, 215, 0),
    "goldenrod": RGBColor(218, 165, 32),
    "gray": RGBColor(128, 128, 128),
    "green": RGBColor(0, 128, 0),
    "greenyellow": RGBColor(173, 255, 47),
    "grey": RGBColor(128, 128, 128),
    "honeydew": RGBColor(240, 255, 240),
    "hotpink": RGBColor(255, 105, 180),
    "indianred": RGBColor(205, 92, 92),
    "indigo": RGBColor(75, 0, 130),
    "ivory": RGBColor(255, 255, 240),
    "khaki": RGBColor(240, 230, 140),
    "lavender": RGBColor(230, 230, 250),
    "lavenderblush": RGBColor(255, 240, 245),
    "lawngreen": RGBColor(124, 252, 0),
    "lemonchiffon": RGBColor(255, 250, 205),
    "lightblue": RGBColor(173, 216, 230),
    "lightcoral": RGBColor(240, 128, 128),
    "lightcyan": RGBColor(224, 255, 255),
    "lightgoldenrodyellow": RGBColor(250, 250, 210),
    "lightgray": RGBColor(211, 211, 211),
    "lightgreen": RGBColor(144, 238, 144),
    "lightgrey": RGBColor(211, 211, 211),
    "lightpink": RGBColor(255, 182, 193),
    "lightsalmon": RGBColor(255, 160, 122),
    "lightseagreen": RGBColor(32, 178, 170),
    "lightskyblue": RGBColor(135, 206, 250),
    "lightslategray": RGBColor(119, 136, 153),
    "lightslategrey": RGBColor(119, 136, 153),
    "lightsteelblue": RGBColor(176, 196, 222),
    "lightyellow": RGBColor(255, 255, 224),
    "lime": RGBColor(0, 255, 0),
    "limegreen": RGBColor(50, 205, 50),
    "linen": RGBColor(250, 240, 230),
    "magenta": RGBColor(255, 0, 255),
    "maroon": RGBColor(128, 0, 0),
    "mediumaquamarine": RGBColor(102, 205, 170),
    "mediumblue": RGBColor(0, 0, 205),
    "mediumorchid": RGBColor(186, 85, 211),
    "mediumpurple": RGBColor(147, 112, 219),
    "mediumseagreen": RGBColor(60, 179, 113),
    "mediumslateblue": RGBColor(123, 104, 238),
    "mediumspringgreen": RGBColor(0, 250, 154),
    "mediumturquoise": RGBColor(72, 209, 204),
    "mediumvioletred": RGBColor(199, 21, 133),
    "midnightblue": RGBColor(25, 25, 112),
    "mintcream": RGBColor(245, 255, 250),
    "mistyrose": RGBColor(255, 228, 225),
    "moccasin": RGBColor(255, 228, 181),
    "navajowhite": RGBColor(255, 222, 173),
    "navy": RGBColor(0, 0, 128),
    "navyblue": RGBColor(0, 0, 128),
    "oldlace": RGBColor(253, 245, 230),
    "olive": RGBColor(128, 128, 0),
    "olivedrab": RGBColor(107, 142, 35),
    "orange": RGBColor(255, 165, 0),
    "orangered": RGBColor(255, 69, 0),
    "orchid": RGBColor(218, 112, 214),
    "palegoldenrod": RGBColor(238, 232, 170),
    "palegreen": RGBColor(152, 251, 152),
    "paleturquoise": RGBColor(175, 238, 238),
    "palevioletred": RGBColor(219, 112, 147),
    "papayawhip": RGBColor(255, 239, 213),
    "peachpuff": RGBColor(255, 218, 185),
    "peru": RGBColor(205, 133, 63),
    "pink": RGBColor(255, 192, 203),
    "plum": RGBColor(221, 160, 221),
    "powderblue": RGBColor(176, 224, 230),
    "purple": RGBColor(128, 0, 128),
    "red": RGBColor(255, 0, 0),
    "rosybrown": RGBColor(188, 143, 143),
    "royalblue": RGBColor(65, 105, 225),
    "saddlebrown": RGBColor(139, 69, 19),
    "salmon": RGBColor(250, 128, 114),
    "sandybrown": RGBColor(244, 164, 96),
    "seagreen": RGBColor(46, 139, 87),
    "seashell": RGBColor(255, 245, 238),
    "sienna": RGBColor(160, 82, 45),
    "silver": RGBColor(192, 192, 192),
    "skyblue": RGBColor(135, 206, 235),
    "slateblue": RGBColor(106, 90, 205),
    "slategray": RGBColor(112, 128, 144),
    "slategrey": RGBColor(112, 128, 144),
    "snow": RGBColor(255, 250, 250),
    "springgreen": RGBColor(0, 255, 127),
    "steelblue": RGBColor(70, 130, 180),
    "tan": RGBColor(210, 180, 140),
    "teal": RGBColor(0, 128, 128),
    "thistle": RGBColor(216, 191, 216),
    "tomato": RGBColor(255, 99, 71),
    "turquoise": RGBColor(64, 224, 208),
    "violet": RGBColor(238, 130, 238),
    "wheat": RGBColor(245, 222, 179),
    "white": RGBColor(255, 255, 255),
    "whitesmoke": RGBColor(245, 245, 245),
    "yellow": RGBColor(255, 255, 0),
    "yellowgreen": RGBColor(154, 205, 50),
    "homeassistant": RGBColor(24, 188, 242),
{% macro random_name() %}
{#-
  This will return one of the official color names recognized by Home Assistant
    lifted directly from the Home Assistant core github November, 2023 at
    https://github.com/home-assistant/core/blob/dev/homeassistant/util/color.py
    and the Official CSS3 colors from w3.org:
    https://www.w3.org/TR/2010/PR-css3-color-20101028/#html4
    Names do not have spaces in them so that we can compare against
    requests more easily (by removing spaces from the requests as well).
    This lets "dark seagreen" and "dark sea green" both match the same
    color "darkseagreen".
  
  SAMPLE USAGE:
    {% from 'color_multi_tool.jinja' import random_name %}
    {{- random_name() -}}

-#}
{{- _nameMap._rgb | random | regex_replace('[^a-z]', '') -}}

{% endmacro %}

{% macro random_xy() %}
{#-
  This will return a CSV string that will convert to a list for a
    random color in the x,y format.
  Be sure to convert this to a list when you use it on the other end
  because it arrives as a CSV string.
  
  SAMPLE USAGE:
    {% from 'color_multi_tool.jinja' import random_xy %}
    {% set _rxy = random_xy().split(",") | list -%}
    [{{ _rxy[0]|float(0)|round(3) }}, {{ _rxy[1]|float(0)|round(3) }}]
-#}

{%- set X = 0.001*(range(1000)|random) -%}
{%- set Y = 0.001*(range(1000)|random) -%}
{{ X }},{{ Y }}

{% endmacro %}

{% macro random_hs() %}
{#-
  This will return a CSV string that will convert to a list for a
    random color in the h,s format.
  Be sure to convert this to a list when you use it on the other end
  because it arrives as a CSV string.

  SAMPLE USAGE:
    {% from 'color_multi_tool.jinja' import random_hs %}
    {% set _rhs = random_hs().split(",") | list -%}
    [{{ _rhs[0]|float(0)|round(2) }}, {{ _rhs[1]|float(0)|round(2) }}]
-#}
{%- set H = 0.01*(range(36000)|random) -%}
{%- set S = 0.01*(range(10000)|random) -%}
{{ H }},{{ S }}

{% endmacro %}

{% macro random_rgb() %}
{#-
  This will return a CSV string that will convert to a list for a
    random color in the rgb format.
  Be sure to convert this to a list when you use it on the other end
  because it arrives as a CSV string.
  
  SAMPLE USAGE:
    {% from 'color_multi_tool.jinja' import random_rgb %}
    {% set _rrgb = random_rgb().split(",") | list -%}
    [{{ _rrgb[0]|int(0) }}, {{ _rrgb[1]|int(0) }}, {{ _rrgb[2]|int(0) }}]
-#}
{%- set R = (range(255)|random) -%}
{%- set G = (range(255)|random) -%}
{%- set B = (range(255)|random) -%}
{{ R }},{{ G }},{{ B }}

{% endmacro %}

{% macro name2rgb() %}
{#-
  This will return the RGB value for an official color name recognized by Home Assistant
    lifted directly from the Home Assistant core github November, 2023 at
    https://github.com/home-assistant/core/blob/dev/homeassistant/util/color.py
    and the Official CSS3 colors from w3.org:
    https://www.w3.org/TR/2010/PR-css3-color-20101028/#html4
    Names do not have spaces in them so that we can compare against
    requests more easily (by removing spaces from the requests as well).
    This lets "dark seagreen" and "dark sea green" both match the same
    color "darkseagreen".
  You have to type in her correct name. The text you send me will be set to no
    spaces and lower case to match the data as described above.
  
  SAMPLE USAGE:
    {% from 'color_multi_tool.jinja' import name2rgb %}
    {{- name2rgb(color_name) -}}

-#}
{% set _color_name = color_name | regex_replace('[^a-z]', '') %}
{{- _nameMap._rgb._color_name -}}

{% endmacro %}
